:root {
  --littleRound: 0.3rem;
}

/* ======== WIDGET ======== */
.title,
.related-items,
.related-items>*,
.my-outfit,
.my-outfit>* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

.title {
  font-size: x-large;
  font-weight: 600;
  border-top: 0.5rem solid #D6E4E5;
  padding: 0.5rem;
  padding-left: 3rem;
  margin: 0.3rem;
}

.related-items,
.my-outfit {
  display: flex;
  position: relative;
  padding: 2px;
  margin: 0.3rem;
}

.scrollable {
  overflow-x: hidden;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-snap-align: start;
  scroll-padding-inline: 1rem;
  border-radius: 0.3rem;
}

.scrollable>* {
  scroll-snap-align: start;
}

.container {
  display: flex;
  margin: 0.4rem;
}

.single-prod {
  flex-direction: column;
  margin-inline: auto;
  border-radius: var(--littleRound);
  padding: 0.8rem;
  margin: 0.5rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.single-prod.container.focused {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(235, 69, 95, 0.58) 6px 2px 16px 0px;
}

.scroll-left,
.scroll-right {
  background-color: #e2e2e2b4;
  border: none;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  transition: all 0.2s ease-in;
  transform: scale(1);
  top: 35%;
  z-index: 3;
  font-size: 3rem;
}

.scroll-right {
  right: 2%;
}

.scroll-left {
  left: 2%;
}

.scroll-left:hover,
.scroll-right:hover {
  color: var(--accent-color);
  transform: scale(1.2);
}

/* ======== COMPARISON MODAL ======== */
.modal-close {
  background-color: transparent;
  cursor: pointer;
  border: none;
  margin-left: auto;
  display: block;
  height: 1.4rem;
  width: 1.4rem;
  padding: 0.2rem;
  z-index: 2;
}

.comparison-modal-content>table {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6rem;
  left: 25%;
  top: 15%;
  right: 20%;
  bottom: 45%;
  background-color: rgba(73, 113, 116, 0.9);

  z-index: 1;
}

.comparison-modal-content>* {
  vertical-align: middle;
}

.comparison-modal-header {
  border-radius: 2rem;
}

.comparison-modal-header>table {
  width: 100%;
  border-collapse: collapse;
}

.comparison-modal-header>th {
  overflow-y: auto;
  font-weight: 700;
  font-size: 1.4rem;
  color: #ffffff;
  background-color: #636363;
  padding: 0.3rem;
  margin: 0.3rem;
}

.comparison-modal-header>th:first-of-type {
  border-radius: 0.5rem 0 0 0.5rem
}

.comparison-modal-header>th:last-of-type {
  border-radius: 0 0.5rem 0.5rem 0
}

tr {
  object-fit: fill;
}

tr.overall-rating:hover,
tr.additional-rating:hover {
  background-color: rgba(130, 165, 202, 0.8);
}

td {
  text-align: right;
  color: #ffffff;
  font-size: 1.2rem;
  padding: 0.2rem 0;
  margin: 0.2rem 0;
}

.overall-rating>td,
.additional-rating>td {
  text-align: center;
}

.remove-x {
  height: 2.2rem;
  width: 2.2rem;
  padding-bottom: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 440px) {
  .comparison-modal-content>table {
    position: fixed;
    display: flex;
    justify-content: center;
    border-radius: 6rem;
    left: 12%;
    top: 12%;
    right: 20%;
    bottom: 7%;
    background-color: rgba(73, 113, 116, 0.9);
    z-index: 1;
  }

  td:nth-child(3) {
    padding-bottom: 0.5rem;
    border-bottom: 0.2rem dotted var(--accent-color);
  }

  .comparison-modal-header>th{
    border-radius: 0.3rem;
  }

  tr {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}


/* ======== CARD PIC & ITS BUTTONS ======== */
.default-pic,
.add-outfit {
  border-radius: var(--littleRound);
  display: flex;
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  cursor: pointer;
}

.add-outfit-img {
  object-fit: contain;
  border: transparent;
  border-radius: var(--littleRound);
  height: 20rem;
  width: 20rem;
  animation: fadeIn 1.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.compare-btn,
.remove-btn {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.compare-btn>img,
.remove-btn>img {
  border: none;
  position: absolute;
  cursor: pointer;
  object-fit: cover;
  top: 2rem;
  transition: all 0.2s ease-in;
  transform: scale(1);
}

.compare-btn>img {
  left: 17.3rem;
  height: 2.6rem;
  width: 2.6rem;
}

.remove-btn>img {
  left: 17.5rem;
  height: 2.2rem;
  width: 2.2rem;
}

.compare-btn>img:hover,
.remove-btn>img:hover {
  transform: scale(1.2);
}

.single-prod.container.add-outfit {
  flex-direction: row;
  border: none;
}

/* ======== CARD PRODUCT INFO ======== */
.prod-info {
  text-align: left;
}

.prod-info>* {
  padding-top: 0.5rem;
}

.prod-info>.category {
  font-size: 0.9rem;
  color: #636363;
  text-transform: uppercase;
  padding-top: 1rem;
}

.prod-info>.name {
  font-size: 1.5rem;
  font-style: bold;
}

.prod-info>.slogan {
  font-size: 1.2rem;
  text-transform: lowercase;
  font-style: italic;
}

.prod-info>.price {
  font-size: 1.1rem;
}

.prod-info>.star-rating {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  padding-top: 1.1rem;
}

.sale {
  color: var(--accent-color);
}