.related-items {
  height: 25%;
  width: 75%;
  box-sizing: border-box;
  padding: 0.5rem;
  margin: 0.5rem;
}

.container {
  display: flex;
  box-sizing: border-box;
  padding: 1rem;
  margin: 1rem;
}

.default-pic {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.card-btn,
.compare-btn {
  background-color: transparent;
}

.compare-btn {
  border: none;
  border-radius: 50%;
}

.compare-btn img {
  height: 2px;
  width: 2px;
}

.single-prod {
  flex-direction: column;
  border: 2px solid red;
}

.prod-info {
  text-align: left;
}