.question-search-bar input {
  width: 80%;
  font-size: 20px;
}

.question-item, .answer-item {
  font-size: 18px;
  font-weight: bold;
}

.question-item {
  margin-right: 10%;
}

.answer-info {
  font-size: 14px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #fff;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  display:flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}