.question-search-bar input {
  width: 90%;
  font-size: 20px;
}

.question-item, .answer-item {
  font-size: 18px;
  font-weight: bold;
}

.question-item {
  margin-right: 10%;
}

.answer-info {
  font-size: 14px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 500px;
  background-color: #fff;
}

.modal-header, .modal-footer {
  padding: 10px;
}

.modal-title {
  margin: 0;
}

.modal-body {
  display:flex;
  flex-direction: column;
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.stringbutton {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: rgb(140, 201, 105);
  text-decoration: underline;
  cursor: pointer;
}

.question-list {
  height: 70vh;
  overflow-y: scroll;
}
.answer-list {
  height: 30vh;
  overflow-y: scroll;
}

.answer-entry {
  margin-top: 10px;
  margin-bottom: 5px;
}

.question {
  margin-top: 10px;
}