.qna {
  color: var(--text-color);
}

.qna-header {
  background-color: var(--border-color);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
}

.qna h3 {
  font-size: 2em;
  font-weight: 600;
  padding: 1rem;
  border-top: 0.5rem solid #D6E4E5;
  padding-left: 2rem;
}

.search-bar {
  width: 18rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 2rem;
  outline: none;
  background-color: white;
}

.search-bar-container {
  display: flex;
  margin-left: 2rem;
}

.question-item, .answer-item {
  font-weight: bold;
}

.question-item, .answer-entry {
  font-size: 1rem;
}

.question-item {
  margin-right: auto;
}

.answer-info {
  font-size: 0.8rem;
}

.modal {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 32rem;
  background-color: var(--mecca-theme);
  border-radius: 1rem;
}

.modal-content form {
  padding: 0.5rem;
}

.modal-header, .modal-footer {
  padding: 0.5rem;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
}

.modal-title {
  margin: 0;
}

.modal-body {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border-top: 0.2rem solid var(--text-color);
  border-bottom: 0.2rem solid var(--text-color);
}

.question-list {
  min-height: 20vh;
  max-height: 70vh;
  overflow-y: scroll;
  margin-left: 1rem;
}
.answer-list {
  min-height: 5vh;
  max-height: 20vh;
  overflow-y: scroll;
}

.answer-entry {
  margin-top: 0.4rem;
  margin-bottom: 0.2rem;
}

.question-container, .answer-info {
  display: flex;
  align-items: center;
}

.helpful {
  margin-right: 1rem;
}

.add-image-button {
  margin-right: auto;
}

.element-container {
  border-top: 0.2rem solid #D6E4E5;
  padding: 1.3rem;
}

.entry1 {
  border: none;
}

/* CSS */
.stringbutton, button {
  text-transform: uppercase;
  appearance: none;
  background-color: var(--border-color);
  border: none;
  border-radius: 1rem;
  box-sizing: border-box;
  color: var(--text-color);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  margin-right: 10px;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 0px 11px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  min-width: 0;
  will-change: transform;
}

.stringbutton:disabled, button:disabled {
  pointer-events: none;
}

.stringbutton:hover, button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.stringbutton:active, button:active {
  box-shadow: none;
  transform: translateY(0);
}

.bottom {
  margin-left: 2rem;
  margin-right: -1rem;
}

@media (max-width: 500px) {
  .question-container, .answer-info {
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
  }
  .helpful-container {
    order: 1;
  }
  .bottom {
    margin-top: 1rem;
  }
}