.ratings-reviews {
  /* background-color: #EFF5F5; */
  /* background-color: var(--motion-theme); */
  /* font-family: 'Merriweather', serif; */
  font-family: 'Montserrat', 'Times New Roman';
  color: #497174;
}

.ratings-reviews h3 {
  margin: 2rem 1rem;
  font-size: 32px;
  border-top: 0.5rem solid var(--border-color);
  padding: 1rem 0rem;
}

.ratings-reviews-body {
  display: flex;
}

/* FORM CONTENT */
.form-stars{
  display: flex;
}

.radio-group{
  display: flex;
  width: 30vw;
}

.radio-btn{
  display: flex;
  flex-direction: column;
  width: 30vw;
  align-items: center;
  text-align: center;
}

.radio-btn-label{
  display: flex;
  flex-direction: column-reverse;
}

.radio-label-text{
  display: flex;
  justify-content: center;
}

.form-review-summary{
  display: flex;
  flex-direction: column;
}

.form-review-summary input {
  width: 30vw;
}

.form-review-email {
  display: flex;
  flex-direction: column;
}

.form-review-email{
  width: 30vw;
  margin-bottom: 1em;
}

.form-review-name {
  display: flex;
  flex-direction: column;
}

.form-review-name{
  width: 30vw;
}
/*
.form-characteristics{
  display: flex;
  flex-direction: column;
  width: 27em;
} */

/* MODAL STYLING */
/* ReviewModal.jsx */
.review-comp-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0 0 0 0;
  margin: auto;
  position: fixed;
}

.review-modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  inset: 0 0 0 0;
  z-index: 1000
}

/* ReviewModalContent.jsx */
.review-modal-container {
  position: fixed;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  background-color: #EFF5F5;
  border-radius: 1rem;
  color: #497174;
  padding: 8rem 16rem;
  z-index: 1000;
}

.return-btn-container {
  /* background-color: red; */
  position: absolute;
  color: white;
  padding: 1rem;
  top: 0;
  right: 0;
  margin-left: auto;
}

.review-modal-header{
  position: absolute;
  margin-bottom: auto;
  top: 1em;
  left: 33%;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0px 2px 5px #497174;
}

.form-body-container{
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 30vw;
}

.form-body-container h3{
  font-size: 2em;
  font-weight: bold;
  text-transform: capitalize;
}

.form-review-body {
  display: flex;
  flex-direction: column;
  padding: 0.8rem 0.8rem 0.8rem 0rem;
  /* box-sizing: border-box; */
  word-wrap: break-word;
}

.form-review-body-input{
  width: 30vw;
  height: 20vh;
}

/* IMAGE MODAL */
.img-modal-overlay {
  position: fixed;
  width: 50vw;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.7);
  inset: 0 0 0 0;
}

.img-modal-container {
  /* position: fixed; */
  /* position: relative; */
  background-color: rgb(211, 190, 190);
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  padding: 8em 16rem;
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  z-index: 1000;
}

.choose-btn-container {
  position: absolute;
  margin-bottom: auto;
  top: 0;
  left: 0;
  padding: 1em;
  border-radius: 1rem;
}
/* REVIEW DASHBOARD */

.review-dashboard {
  margin-left: 1.5em;
  /* width: 120% */
}

.review-summary{
  font-weight: bold;
}

.review-list-container {
  border-radius: 2em;
  margin-left: 6em;
}

.review-list {
  height: 50vh;
  overflow-x: clip;
  overflow-y: scroll;
  /* width: 80vw; */
  border: 1.5rem solid var(--border-color);
  border-radius: 2em;
  margin-top: 1em;
}

.review-list-container button {
  padding: 1em;
  margin: 1em;
  box-shadow: 0 0 5px 3px #c5b8b8;
  border-radius: 0.5em;
  border: 2em;
}

.review-list-container button:hover {
  box-shadow: rgb(0 0 0 / 25%) 0 8px 15px;
  transform: translateY(-2px);
  cursor: pointer;
}

/* review tile body */
.review-tile {
  display: flex;
  margin: 1em;
  border-top: .1em solid var(--border-color);
  padding: .5em
  /* overflow-y: scroll; */;
  flex-direction: column;
  gap: 1em;
}

.review-top-corner{
  position: relative;
  display: flex;
  left: 70%;
  top: -2em;
  color: #a3bec0;
  flex-direction: column;
  margin-right: 0;
  width: 10em;
  text-align: end;
}

.review-photos {
  display: flex;
}

.review-thumbnail {
  max-height: 20%;
  max-width: 20%;
}

.expanded-thumbnail{
  height: auto;
  position: fixed;
  min-height: 50%;
  min-width: 40%;
  max-width: 50%;
  max-height: 60%;
  top: 50%;
  width: auto;
  transform: translate(-50%, -50%);
}

/* DASHBOARD */

/* RATING BREAKDOWN */
.rating-breakdown {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.total-reviews {
  margin: 1em 1em 1em 0em;
}

.star-rating {
  font-size: 4em;
  font-weight: bold;
}

.rating-summary .stars {
  display: flex;
  gap: 0.5em;
  padding: 1em 1em 0em 0em;
}

.rating-summary .stars star {
  background-color: var(--star-color)
}
.rating-container {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  align-items: center;
}

.rating-bar-label{
  font-weight: 500;
  width: 25%;
}

.rating-container:hover {
  transform: translateX(2px);
}

.bar-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.rating-amt {
  text-align: center;
}
progress {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0rem 1rem 0.5rem;
  width: 100%;
}

progress::-webkit-progress-value {
  background: var(--accent-color)
}
progress::-webkit-progress-bar {
  background: rgb(220, 220, 234);
  background: var(--border-color);
}

.clear-filters-btn {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border: 0px;
  outline: 2px solid var(--text-color);
  color: var(--text-color);
  cursor: pointer;
  /* display: inline-block; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  touch-action: manipulation;
}

/* PRODUCT DASHBOARD */
.review-product-dashboard {
  margin: 1.5em;
  margin-left: 0;
  width: 100%;
}


datalist#labels {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 2em;
}

.characteristic {
  height: 5em;
}

.characteristics-label{
  font-size: 0.6rem;
  margin: 1em 0 1em 0;
  justify-content: center;
  z-index: -1;
}

/* PRODUCT DASHBOARD BAR */

.slider-container {
  background: var(--mecca-theme);
  /* width: 110%; */
}


/* CHARACTERISTICS SLIDER */
input[type=range]{
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
  background-color: var(--border-color);
  border-radius: 2em;
}

input[type=range]::-webkit-slider-runnable-track {
  background: var(--accent-color);
  height: 8px;
  border-radius: 12px;
}

input[type=range]::-moz-range-track {
  background: var(--accent-color);
  height: 8px;
  border-radius: 12px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  background-color: var(--mecca-theme);
  outline: 2px solid var(--accent-color);
  margin-top: -3px;
}

input[type=range]::-moz-range-thumb {
  border: none;
  border-radius: 100%;
  height: 16px;
  width: 16px;
  background-color: var(--mecca-theme);
  outline: 2px solid var(--accent-color);
}

.label-container{
  display: flex;
  /* width: 126%; */
  justify-content: space-between;
}
