.ratings-reviews {
  background-color: #EFF5F5;
}

.ratings-reviews h3 {
  margin: 2rem 1rem;
  font-size: 32px;
  border-top: 3px solid grey;
  padding: 1rem 0rem;
}

.ratings-reviews-body {
  display: flex;
}

/* FORM CONTENT */
.form-stars{
  display: flex;
}

.radio-group{
  display: flex;
  width: 24em;
}

.radio-btn{
  display: flex;
  flex-direction: column;
  width: 5em;
  align-items: center;
  text-align: center;
}

.radio-btn-label{
  display: flex;
  flex-direction: column-reverse;
}

.radio-label-text{
  display: flex;
  justify-content: center;
}
/*
.form-characteristics{
  display: flex;
  flex-direction: column;
  width: 27em;
} */

/* MODAL STYLING */
/* ReviewModal.jsx */
.review-comp-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  inset: 0 0 0 0;
  margin: auto;
  position: fixed;
}

.review-modal-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  inset: 0 0 0 0;
  z-index: 1000
}

/* ReviewModalContent.jsx */
.review-modal-container {
  position: fixed;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--gray);
  background-color: #EFF5F5;
  border-radius: 1rem;
  color: #497174;
  padding: 8rem 16rem;
  z-index: 1000;
}

.return-btn-container {
  /* background-color: red; */
  position: absolute;
  color: white;
  padding: 1rem;
  top: 0;
  right: 0;
  margin-left: auto;
}

.review-modal-header{
  position: absolute;
  margin-bottom: auto;
  top: 1em;
  left: 33%;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

.form-body-container{
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.form-body-container h3{
  font-size: 2em;
  font-weight: bold;
  text-transform: capitalize;
}

/* IMAGE MODAL */
.img-modal-overlay {
  position: fixed;
  width: 50vw;
  height: 50vh;
  background-color: rgba(0, 0, 0, 0.7);
  inset: 0 0 0 0;
}

.img-modal-container {
  /* position: fixed; */
  /* position: relative; */
  background-color: rgb(211, 190, 190);
  border-radius: 1rem;
  color: rgb(0, 0, 0);
  padding: 8em 16rem;
  position: absolute;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  z-index: 1000;
}

.choose-btn-container {
  position: absolute;
  margin-bottom: auto;
  top: 0;
  left: 0;
  padding: 1em;
  border-radius: 1rem;
}
/* REVIEW DASHBOARD */

.review-dashboard {
  margin-left: 1.5em;
}

.review-summary{
  font-weight: bold;
}

.review-list-container {
  border-radius: 2em;
  margin-left: 6em;
}

.review-list {
  height: 50vh;
  overflow-y: scroll;
  width: 80vw;
  border: 1px solid grey;
  border-radius: 2em;
  margin-top: 1em;
}

.review-list-container button {
  padding: 1em;
  margin: 1em;
  box-shadow: 0 0 5px 3px #c5b8b8;
  border-radius: 0.5em;
  border: 2em;
}

.review-list-container button:hover {
  box-shadow: rgb(0 0 0 / 25%) 0 8px 15px;
  transform: translateY(-2px);
  cursor: pointer;
}

/* review tile body */
.review-tile {
  margin: 1em;
  border-top: .1em solid gray;
  padding: .5em
  /* overflow-y: scroll; */
}

.review-photos {
  display: flex;
}

.review-thumbnail {
  max-height: 20%;
  max-width: 20%;
}

/* DASHBOARD */
.star-rating {
  font-size: 2em;
}

.rating-container {
  display: flex;
}

.rating-bar:hover{
  background-color: aquamarine;
}

progress {
  border: 1px solid grey;
}

progress::-webkit-progress-value {
  background: rgb(141, 183, 139);
}
progress::-webkit-progress-bar {
  background: rgb(220, 220, 234);
}

/* PRODUCT DASHBOARD */
.review-product-dashboard {
  margin: 1.5em;
  margin-left: 0;
}


datalist#labels {
  display: flex;
  flex-direction: column;
  writing-mode: vertical-lr;
  width: 11rem;
  flex-wrap: wrap;
  justify-content: flex-end;
  height: 2em;
}

.characteristic {
  height: 5em;
}

.characteristics-label{
  font-size: .5em;
  transform: rotate(-67deg);
  margin: 1.2em;
  margin-top: -1em;
  justify-content: center;
  z-index: -1;
  color: black;
}

/* PRODUCT DASHBOARD BAR */

.characteristics-slider input {
  background-color: red;
}


/* INPUT RANGE CSS RESET */
input[type=range]{
  -webkit-appearance: none;
  /* width: 25%; */
  background: transparent;
  background: #837d7d;
  /* background-image: linear-gradient(#ff4500, #ff4500); */
  height: 0.25em;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-bottom: 1rem;
  border: 1px solid #ffffff;
  border-radius: 30%;
  background: #ffffff;
  height: 15px;
  width: 2px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
  transition: background .3s ease-in-out;
}

