h3 {
  font-size: 32px;
}

.review-summary{
  font-weight: bold;
}

.review-list {
  height: 50rem;
  overflow-y: scroll;
}

/* review tile body */
.review-tile {
  margin: 1em;
  border: .25em solid red;
  /* overflow-y: scroll; */
}

.stars {
  display: flex;
}

.star {
  margin: 10px 0;
  position: relative;
  display: inline-block;
  color: red;
  width: 0px;
  height: 0px;
  /* for bigger stars, multiply the below 3 borders by x */
  border-right: 10px solid transparent;
  border-bottom: 7px solid gold;
  border-left: 10px solid transparent;
  transform: rotate(35deg);
}
.star:before {
  /* for bigger stars, multiply the below 3 borders by x */
  border-bottom: 8px solid gold;
  border-left: 3px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  /* for bigger stars, multiply the below 2 properties by x */
  top: -5px;
  left: -6px;
  display: block;
  content: '';
  transform: rotate(-32deg);
}
.star:after {
  position: absolute;
  display: block;
  color: red;
  top: 0;
  /* for bigger stars, multiply the below 1 properties by x */
  left: -10px;
  width: 0;
  height: 0;
  /* for bigger stars, multiply the below 3 properties by x */
  border-right: 10px solid transparent;
  border-bottom: 7px solid gold;
  border-left: 10px solid transparent;
  transform: rotate(-70deg);
  content: '';
}
.review-photos {
  display: flex;
}

.review-thumbnail {
  max-height: 20%;
  max-width: 20%;
}

/* DASHBOARD */

.star-rating {
  font-size: 2em;
}

.review-dashboard {
  border: 2px solid green
}

.rating-container {
  display: flex;
}

progress {
  border: 1px solid grey;
}

progress::-webkit-progress-value {
  background: rgb(141, 183, 139);
}
progress::-webkit-progress-bar {
  background: rgb(220, 220, 234);
}