
/* product-detail */

.product-detail {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 4fr 1fr;
  color: var(	--text-color);
  /* height: 50rem; */
}

.product-detail img {
  border-radius: 0.3rem;

}
/* image-gallery */

.product-text {
  margin: 2rem;
  /* width: 40%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  .product-detail {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

  }
}

.main-image-button {
  height: 5rem;
  background-color: "transparent";
  transition: "background-color 0.2s ease-in-out";
  transition: "transform 0.3s";
}

.main-image-button:hover {
  /* background-color: rgb(235, 235, 235); */
  transform: scale(2);
}

.image-slide-button {
  background-color: "transparent";
  transition: "background-color 0.2s ease-in-out";
  transition: "transform 0.3s";

}

.image-slide-button:hover {
  /* background-color: rgb(235, 235, 235); */
transform: scale(2);

}

/* default-view */

.default-view {
  height: 40rem;
  margin: 2rem;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  justify-content: center;
  align-items: center;

}

.default-view .image-slide {
  max-width: 6rem;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self:end;
  overflow: hidden;
}

.default-view .image-slide-button {
  margin: 1em;
}


.default-view .image-slide-show {
  width: 100%;
  overflow-y: scroll;
  background-color: white;
  /* background: radial-gradient(rgb(250, 250, 250) 0%, rgb(180, 180, 180) 80%); */
}

.default-view .image-thumbnail-container {
  width: 6rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position:relative;
}

.default-view .image-thumbnail {
  width: 4rem;
  height: 4rem;
  transition: opacity 0.5s, transform 0.5s;
  transform: scale(1);
  opacity: 0.5;
}


.default-view .image-thumbnail:hover {
  opacity: 1;
  transform: scale(1.2);
}

.default-view .image-thumbnail-selected {
  opacity: 1;
  transform: scale(1.2);
}

.default-view .overlay {
  display: block;
  position: absolute;
  top: 80%;
  left: 50%;
  width: 3rem;
  height: 5px;
  transform: translate(-50%, -50%);
  background-color: var(--accent-color);
}

.default-view .main-image {
  height: 40rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.default-view .main-image img {
  max-height: 100%;
  max-width: 90%;
  object-fit: contain;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.default-view .main-image button {
  max-width: 10%;
  object-fit: contain;
}

/* expand-view */

.expand-view {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, 0.6); */
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
}

.expand-view .image-slide {
  display: flex;
  flex-direction: row;
  align-items:center;
  margin-top: 2%;
  justify-content: space-between;
  height: 10%;
}

.expand-view .image-slide-button {
  transform: rotate(-90deg);
}

.expand-view .image-slide-show {
  /* width: 80%; */
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  overflow-x: scroll;
  /* white-space: nowrap; */
}


.expand-view .image-thumbnail-container {
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.expand-view .image-thumbnail {
  width: 2rem;
  height: 2rem;
  margin: 0 0.5rem;
  object-fit: none;
}

.expand-view .image-thumbnail-container {
  position:relative;
}

.expand-view .image-thumbnail {
  transition: opacity 0.5s, transform 0.5s;
  transform: scale(1);
  opacity: 0.5;
}

.expand-view .image-thumbnail:hover {
  opacity: 1;
  transform: scale(1.2);
}

.expand-view .image-thumbnail-selected {
  opacity: 1;
  transform: scale(1.2);
}

.expand-view .overlay {
  display: block;
  position: absolute;
  top: 80%;
  left: 50%;
  width: 50%;
  height: 8px;
  transform: translate(-50%, -50%);
  background-color: var(--accent-color);
}

.expand-view .main-image {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 90%;
}

.expand-view .main-image img {
  max-width: 80%;
  max-height: 90%;
  object-fit: contain;
  cursor:crosshair;
}

.close-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: white;
  width: 3%;
  height: 3%;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}

.close-icon:hover {
  transform: scale(2);
}

/* zoom-view */
.zoom-view {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.zoom-view .main-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoom-view .main-image img {
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform .3s;
}

.img-zoom:hover {
  transform: scale(1.3);
}




.product-detail transparent-button {
  visibility: hidden;
}


/* product-info */

.product-info .stars-container {
  display: flex;
  align-items: center;
}

.product-info .stars-container {
  display: flex;
  align-items: center;
}

.product-info .stars {
  margin-right: 0.5rem;
}

.product-info .link-review {
  text-decoration: underline;
}

.product-info .link-review:hover {
  text-color: underline;
  cursor: pointer;
  color:orange;
}

.social-media-share {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  margin-top: 2rem;
  /* margin-left: 1rem; */

}

.social-media-share .icon {
  color: white;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  margin: 1rem 0.5rem;
}

.social-media-share .icon:hover {
  transform: scale(1.5);
}

.social-media-share .icon-twitter {
  fill: #1DA1F2;
}
.social-media-share .icon-facebook {
  fill: #4267B2;
}
.social-media-share .icon-pinterest {
  fill: #c8232c;
}

/* style-selector */

.sale-price {
  color: red;
  margin-right: 1rem;
}

.original-sale-price {
  text-decoration-line: line-through;
}
.style-list-container {
  margin:5% 10% 8% 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10%;
  grid-row-gap: 10%;

}

.style-entry-container {

  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 50% 50% 50% 50%;
  position: relative;
  box-shadow: 0 0 10px #333;
  transition: outline 0.2s;
}

.style-entry-container:hover {
  outline: 0.4rem solid var(--accent-color);
}

.style-entry-container-selected {
  outline: 0.4rem solid var(--accent-color);
}

.style-entry-container .checkmark {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 40%;
  color:var(--accent-color);
  background-color: transparent;
}


/* add-to-cart */

.size-selector-container {
  display: flex;
  align-items:flex-end;
  justify-content:flex-start;
  flex-wrap: wrap;
}

.size-selector-container select {
  background-color: white;
  border: 1px solid grey;
  height: 2rem;
  padding-left: 0.5rem;
  transition: "background-color 0.2s ease-in-out";
}

.size-selector-container select:hover {
  background-color: rgb(235, 235, 235);
}

.size-selector {
  width: 42%;
  margin-right: 1rem;
}

.quantity-selector {
  width: 22%;

}

.size-selector select {
  width: 100%;
}

.quantity-selector select {
  width: 100%;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.cart button {
  height: 2rem;
  border: 1px solid grey;
  background-color: white;
  transition: "background-color 0.2s ease-in-out";
}

.cart button:hover {
  background-color: rgb(235, 235, 235);
}

.cart .cart-button {
  width: 52%;
  margin-right: 1rem;
}





.cart .fav-icon {
  width: 12%;
}


/* product-info */
.product-name {
  font-size:3rem;
  font-weight: bolder;
  margin-top: 1rem
}

.product-category {
  margin: 1rem 0;
}

.product-description {
  margin:0 4rem 2rem 3rem;
}

.product-slogan {
  padding-bottom: 1rem;
  font-size:x-large;
  font-weight: bold;

}

.product-description-text {

  font-size: large;

}

.product-feature {
  border-left: 2px solid darkgray;
  margin-bottom: 2rem;
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.product-feature .check {
  margin-right: 1rem;

}