
/* product-detail */

.product-detail {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 50rem;
}

/* image-gallery */

.image-gallery {
  width: 60%;
}



.product-text {
  margin-top: 1rem;
  width: 40%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

@media (max-width: 768px) {
  .product-detail {
    flex-direction: column;
    height: 100rem;

  }
  .image-gallery {
    width: 100%;
  }
  .product-text {
    width: 100%;
  }
}

.default-view {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.image-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 10%;
  max-height: 80%;
  /* object-fit: contain; */
}

.image-slide button {
  margin: 1em;
}

.image-slide-show {
  width: 100%;
  max-height: 80%;
  overflow-y: scroll;
}

.image-thumbnail {
  max-width: 100%;
  height: auto;
  border-bottom: 8px solid transparent;
  transition: border 0.5s;
}

.image-thumbnail:hover {
  border-bottom: 8px solid grey;
}

.main-image {
  margin-left: 1rem;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


.main-image img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.main-image button {
  max-width: 10%;
  object-fit: contain;
}

.expand-view {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.expand-view .image-slide {
  flex-direction: row;
  width: 60%;
  height: 10%;
}

.expand-view .image-slide-show {
  flex-direction: row;
  width: 80%;
  overflow-x: scroll;
  white-space: nowrap;
}


.expand-view .image-thumbnail-container {
  display: inline;
  margin: 0 5%;
}

.expand-view .image-thumbnail {
  display: inline;
  width: 5%;
  border-bottom: 8px solid transparent;
  transition: border 0.5s;
}

.expand-view .main-image {
  /* width: 80%; */
  height: 100%;
}

.expand-view .main-image img {
  max-width: 90%;
  max-height: 100%;
  object-fit: contain;
}

.expand-view .close-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background-color: white;
  width: 3%;
  height: 3%;
}

.product-detail transparent-button {
  visibility: hidden;
}


/* product-info */

.product-info .stars-container {
  display: flex;
  align-items: center;
}

.product-info .stars-container {
  display: flex;
  align-items: center;
}

.product-info .stars {
  margin-right: 0.5rem;
}

.product-info .link-review {
  text-decoration: underline;
}

.product-info .link-review:hover {
  text-color: underline;
  cursor: pointer;
  color:orange;
}

.social-media-share {
  display: flex;
  align-items: center;
  justify-content:flex-start;

}

.product-info .icon {
  color: white;
  transform: scale(1);
  transition: all 0.3s ease-in-out;
  margin: 0.2rem;
}

.product-info .icon:hover {
  transform: scale(1.2);
}

.product-info .icon-twitter {
  fill: #1DA1F2;
}
.product-info .icon-facebook {
  fill: #4267B2;
}
.product-info .icon-pinterest {
  fill: #c8232c;
}

/* style-selector */

.sale-price {
  color: red;
}

.original-sale-price {
  text-decoration-line: line-through;
}
.style-list-container {
  margin:0 10% 10% 2%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10%;
  grid-row-gap: 10%;

}

.style-entry-container {
  width: 100%;
  padding-bottom: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: relative;
}

.style-entry-container:hover {
  box-shadow: 0 0 10px #333;
}

.style-entry-container .checkmark {
  position: absolute;
  top: 0;
  right: 0;
  width: 40%;
  height: 40%;
  color:red;
  background-color: transparent;
}

.size-selector-container {
  display: flex;
  align-items: center;
  justify-content:flex-start;
  flex-wrap: wrap;
}